# Problem

You have to find out whether the team would lose the match or not for the following given input:

{"kkr", "chennai","overcast","lost"}

In [6]:
import pandas as pd
import numpy as np

In [5]:
data = pd.read_csv('Data/toy-toy.csv')
data.head()

  opponent      venue   outlook  toss result
0      kkr  bangalore  overcast  lost    won
1       mi     mumbai     sunny   won    won
2      rcb     mumbai  overcast   won    won
3      kkr  bangalore     sunny  lost    won
4      kkr  bangalore     sunny   won    won

## Solution:

We have to find,

P(won|kkr, chennai, overcast, toss) = P(kkr|won) \* P(chennai|won) \* P(overcast|won) \* P(toss|won) \* P(won)

P(lost|kkr, chennai, overcast, toss) = P(kkr|lost) \* P(chennai|lost) \* P(overcast|lost) \* P(toss|lost) \* P(lost)

And then compare the result and decide using the maximum a posteriori rule.

### Preparing Loop Up Table (Finding All Possible Probabilities):

In [13]:
total = data.shape[0]
won = data['result'].value_counts()[0]
lost = data['result'].value_counts()[1]

In [15]:
p_won = won/total
p_lost = lost/total

print("P(won) =", p_won)
print("P(lost) =", p_lost)

P(won) = 0.68
P(lost) = 0.32

In [16]:
# For Opponent Table
pd.crosstab(data['opponent'], data['result'])

result    lost  won
opponent
kkr          2    8
mi           3    1
rcb          3    4
rr           0    4

In [33]:
p_kkr_lost = 2/lost
p_mi_lost = 3/lost
p_rcb_lost = 3/lost
p_rr_lost = 0/lost

p_kkr_won = 8/won
p_mi_won = 1/won
p_rcb_won = 4/won
p_rr_won = 4/won

print("P(kkr | lost) =", p_kkr_lost)
print("P(mi | lost) =", p_mi_lost)
print("P(rcb | lost) =", p_rcb_lost)
print("P(rr | lost) =", p_rr_lost)
print()
print("P(kkr | won) =", p_kkr_won)
print("P(mi | won) =", p_mi_won)
print("P(rcb | won) =", p_rcb_won)
print("P(rr | won) =", p_rr_won)

P(kkr | lost) = 0.25
P(mi | lost) = 0.375
P(rcb | lost) = 0.375
P(rr | lost) = 0.0

P(kkr | won) = 0.47058823529411764
P(mi | won) = 0.058823529411764705
P(rcb | won) = 0.23529411764705882
P(rr | won) = 0.23529411764705882

In [23]:
# For Venue Table
pd.crosstab(data['venue'], data['result'])

result     lost  won
venue
bangalore     3    8
chennai       4    6
mumbai        1    3

In [29]:
p_bangalore_lost = 3/lost
p_chennai_lost = 4/lost
p_mumbai_lost = 1/lost

p_bangalore_won = 8/won
p_chennai_won = 6/won
p_mumbai_won = 3/won

print("P(bangalore | lost) =", p_bangalore_lost)
print("P(chennai | lost) =", p_chennai_lost)
print("P(mumbai | lost) =", p_mumbai_lost)
print()
print("P(bangalore | won) =", p_bangalore_won)
print("P(chennai | won) =", p_chennai_won)
print("P(mumbai | won) =", p_mumbai_won)

P(bangalore | lost) = 0.375
P(chennai | lost) = 0.5
P(mumbai | lost) = 0.125

P(bangalore | won) = 0.47058823529411764
P(chennai | won) = 0.35294117647058826
P(mumbai | won) = 0.17647058823529413

In [28]:
# For Outlook column
pd.crosstab(data['outlook'], data['result'])

result    lost  won
outlook
overcast     3    9
sunny        5    8

In [32]:
p_overcast_lost = 3/lost
p_sunny_lost = 5/lost

p_overcast_won = 9/won
p_sunny_won = 8/won

print("P(overcast | lost) =", p_overcast_lost)
print("P(sunny | lost) =", p_sunny_lost)
print()
print("P(overcast | won) =", p_overcast_won)
print("P(sunny | won) =", p_sunny_won)

P(overcast | lost) = 0.375
P(sunny | lost) = 0.625

P(overcast | won) = 0.5294117647058824
P(sunny | won) = 0.47058823529411764

In [34]:
# For toss column:
pd.crosstab(data['toss'], data['result'])

result  lost  won
toss
lost       0    6
won        8   11

In [35]:
p_tlost_lost = 0/lost
p_twon_lost = 8/lost

p_tlost_won = 6/won
p_twon_won = 11/won

print("P(tlost | lost) =", p_tlost_lost)
print("P(twon | lost) =", p_twon_lost)
print()
print("P(tlost | won) =", p_tlost_won)
print("P(twon | won) =", p_twon_won)

P(tlost | lost) = 0.0
P(twon | lost) = 1.0

P(tlost | won) = 0.35294117647058826
P(twon | won) = 0.6470588235294118

### Solution:
"kkr", "chennai","overcast","lost"

In [38]:
p_won_kkr_chennai_overcast_tlost = p_kkr_won * p_chennai_won * p_overcast_won * p_tlost_won * p_won
p_lost_kkr_chennai_overcast_tlost = p_kkr_lost * p_chennai_lost * p_overcast_lost * p_tlost_lost * p_lost

print("P(won | kkr, chennai, overcast, tlost) =", p_won_kkr_chennai_overcast_tlost)
print("P(lost | kkr, chennai, overcast, tlost) =", p_lost_kkr_chennai_overcast_tlost)

P(won | kkr, chennai, overcast, tlost) = 0.02110319560350092
P(lost | kkr, chennai, overcast, tlost) = 0.0

## Conclusion

Since, P(won | kkr, chennai, overcast, tlost) is higher than P(lost | kkr, chennai, overcast, tlost), so winning is favourable based on the given parameters.